*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}

.main{
    display: grid;
    height: 100%;
    gap: 10px;
    padding: 40px;
    background-color: black;
    justify-content: center;
    align-content: center;
    grid-template-columns: 22% 30% 18% 30%;
    grid-template-rows: 15% 25% 25% 15% 20%;
    grid-template-areas:
    "r11 r12 r13 r14"
    "r11 r12 r13 r24"
    "r21 r22 r13 r24"
    "r21 r32 r33 r33"
    "r21 r42 r33 r33";
}

.r11{
position: relative;
grid-area: r11;
border-radius: 25px;
margin-bottom: 10px;
background: linear-gradient(to right, #b360fc, #9f53f5);
overflow: hidden;
}

.r12{
grid-area: r12;
background-color: #151517;
border-radius: 25px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
padding-top: 12px;
padding-right: 10px;
}

.r13{
grid-area: r13;
background-color: #151517;
border-radius: 25px;
display: flex;
flex-direction: column;
gap: 20px;
padding-top: 25px;
padding-left: 25px;
}

.r14{
grid-area: r14;
background: linear-gradient(to right, #a95cf7,#783bcc);
border-radius: 25px;
display: flex;
justify-content: center;
align-items: center;
padding-right: 50px;
padding-left: 15px;
gap: 20px;
}

.r21{
grid-area: r21;
background-color: black;
margin-left: -12px;
margin-right: -3px;
border-radius: 25px;
border: 1px solid #bfc773;
}

.r22{
grid-area: r22;
background-color: #151517;
border-radius: 25px;
}

.r24{
position: relative;
grid-area: r24;
background-color: #d6f257;
border-radius: 25px;
margin-top: 10px;
margin-left: 10px;
overflow: hidden;
display: flex;
justify-content: center;
}

.r32{
grid-area: r32;
background-color: #151517;
border-radius: 25px;
}

.r33{
grid-area: r33;
background-color: #ffffff;
margin-right: -12px;
border-radius: 25px;
}

.r42{
grid-area: r42;
background-color: #d8f257;
border-radius: 25px;
}

#green{
    height: 318px;
    position: absolute;
}

#purple{
    height: 361px;
    position: absolute;
    
}

#circle{
    position: absolute;
    height: 300px;
    filter: contrast(0) brightness(2);
}


.r13 p{
    color: white;
}

#contact{
 margin-top: 100px;
}

.ri-gallery-view-2{
    margin-right: 12px;
}

.ri-wallet-line{
    margin-right: 12px;
}

.ri-user-line{
    margin-right: 12px;
}

.ri-auction-line{
   margin-right: 12px; 
   color: yellow;
}

.ri-line-chart-line{
   margin-right: 12px;
}

.ri-star-line{
   margin-right: 12px;
}

.ri-mail-line{
   margin-right: 12px;
}

.auction{
    width: 95%;
    border-radius: 25px;
    background-color:#2a292e;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.c{
    background-color: #ad58fc;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#vert{
    width: 2px;
    height: 40px;
    background-color: #a267f5;
    margin-left: 20px;
}

#smile{
    height: 55px;
    filter: brightness(0) invert(1);
}

.r14 p{
    font-size: 12px;
    margin-left: -30px;
}

#cartan{
    height: 55px;
    filter: brightness(0) invert(1);
}