*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

.main{
    display: grid;
    height: 100%;
    gap: 10px;
    padding: 40px;
    background-color: black;
    justify-content: center;
    align-content: center;
    grid-template-columns: 22% 30% 18% 30%;
    grid-template-rows: 15% 25% 25% 15% 20%;
    grid-template-areas:
    "r11 r12 r13 r14"
    "r11 r12 r13 r24"
    "r21 r22 r13 r24"
    "r21 r32 r33 r33"
    "r21 r42 r33 r33";
}

.r11{
position: relative;
grid-area: r11;
border-radius: 25px;
margin-bottom: 10px;
background: linear-gradient(to right, #b360fc, #9f53f5);
overflow: hidden;
}

.r12{
grid-area: r12;
background-color: #151517;
border-radius: 25px;
}

.r13{
grid-area: r13;
background-color: #151517;
border-radius: 25px;
}

.r14{
grid-area: r14;
background: linear-gradient(to right, #a95cf7,#783bcc);
border-radius: 25px;
}

.r21{
grid-area: r21;
background-color: black;
margin-left: -12px;
margin-right: -3px;
border-radius: 25px;
border: 1px solid #bfc773;
}

.r22{
grid-area: r22;
background-color: #151517;
border-radius: 25px;
}

.r24{
position: relative;
grid-area: r24;
background-color: #d6f257;
border-radius: 25px;
margin-top: 10px;
margin-left: 10px;
overflow: hidden;
display: grid;
justify-items: center;
}

.r32{
grid-area: r32;
background-color: #151517;
border-radius: 25px;
}

.r33{
grid-area: r33;
background-color: #ffffff;
margin-right: -12px;
border-radius: 25px;
}

.r42{
grid-area: r42;
background-color: #d8f257;
border-radius: 25px;
}

#green{
    height: 318px;
    position: absolute;
}

#purple{
    height: 361px;
    position: absolute;
    
}
